:root {
  --branding-color: #836d97;
  --secondary-color: #404142;
  --heading-font-family: "Poppins", sans-serif;
  --default-font-family: "Poppins", sans-serif;
}

body {
  background-color: #f1f1f4;
}

h1,
h2,
h3 {
  color: var(--brandng-second-color);
  font-family: var(--heading-font-family);
  font-weight: 700;
}

h1 {
  font-size: 50px;
  line-height: 65px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 20px;
}

p {
  color: #272044;
  font-family: var(--default-font-family);
  font-weight: 300;
  font-size: 14px;
}

img {
  border-radius: 25px;
}

.social-links i {
  font-size: 24px;
  margin: 10px 20px;
}

.hero {
  background-color: #e1ddef;
  padding: 100px;
}

.hero p {
  font-family: var(--default-font-family);
  font-weight: 400;
  color: #272044;
  font-size: 20px;
  margin: 25px 0px;
}

.hero h2 {
  font-weight: 500;
  font-size: 25px;
  margin: 20px 0px;
}

.btn-branding {
  background: var(--branding-color);
  border-radius: 30px;
  color: white;
  font-size: 18px;
  line-height: 22px;
  padding: 8px 15px;
  margin: 5px;
  transition: all 300ms ease;
}

.btn-branding:hover {
  background: #473b53;
  color: white;
}

.btn-branding-second {
  background: var(--secondary-color);
  border-radius: 30px;
  color: white;
  font-size: 18px;
  line-height: 22px;
  padding: 8px 15px;
  margin: 5px;
}

.btn-branding-second:hover {
  background: #32293a;
  color: white;
}

.btn-branding-sm {
  background: var(--branding-color);
  border-radius: 30px;
  color: white;
  font-size: 15px;
  line-height: 22px;
  padding: 8px 15px;
}

.btn-branding-sm:hover {
  background: #473b53;
  color: white;
}

.btn-contact {
  background: var(--secondary-color);
  border-radius: 50px;
  color: white;
  font-size: 20px;
  padding: 5px 50px;
}

.btn-contact:hover {
  background: #32293a;
  color: white;
}

.hero img {
  border-radius: 30px;
  max-height: 450px;
  height: auto;
  width: auto;
}

.grid-gallery {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.grid-gallery img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 25px;
  padding: 5px;
}

.light-banner {
  background-color: #e1ddef;
  padding: 60px;
}

.contact-banner {
  background-image: url(../images/female-front-end-developer.jpg);
  padding: 120px 50px;
  background-repeat: no-repeat;
  background-size: cover;
}

.contact-banner h2 {
  color: white;
}

.project-description {
  padding: 50px 50px;
}

.hero-content {
  padding-right: 50px;
  padding-top: 50px;
  padding-bottom: 50px;
}

@media (max-width: 766px) {
  .hero h2 {
    font-size: 20px !important;
  }
  .contact-banner h2 {
    text-align: center !important;
  }
  .hero {
    text-align: center !important;
    padding: 30px 50px !important;
  }
  .hero-content {
    padding-right: 0px !important;
    padding-top: 0px !important;
  }
  footer {
    font-size: 12px !important;
  }
}

@media (max-width: 1100px) {
  h1 {
    font-size: 45px !important;
    line-height: 40px !important;
  }
  .hero h2 {
    font-size: 25px;
  }
  .hero {
    padding: 50px 50px;
  }
  .hero-content {
    padding-top: 25px;
  }
}
